
<!-- navbar setup -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!-- navbar items on the left -->
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <img src="../../public/assets/images/Stuffer_Logo.png" width="30" height="30" class="d-inline-block align-top" href="index.html" alt="">
            </li>
        </ul>
    </div>
</nav>

<!-- Post stuff and get stuff boxes inside a background container -->
<div class="container-fluid" id="login">
        <form class="form-inline" action="/login" method='post' class='login-form'>
            <input class="form-control mr-sm-2" id="Name" type="search" placeholder="Name" aria-label="Search">
            <input class="form-control mr-sm-2" id="Password" type="search" placeholder="Password" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
</div>
