<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Stuffer</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../assets/js/Stuffer.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>