<!-- navbar setup -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!-- navbar items on the left -->
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <img src="../../public/assets/images/Stuffer_Logo.png" width="30" height="30" class="d-inline-block align-top" href="index.html" alt="">
            </li>
        </ul>
    </div>
    <!-- navbar items in the middle -->
    <!-- <div class="mx-auto order-0">
        <form class="navbar-brand form-inline mx-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div> -->
    <!-- navbar items on the right -->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="#">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <form class="form-inline">
        <input class="form-control mr-sm-2" id="Search" type="search" placeholder="Search" aria-label="Search">
        <input class="form-control mr-sm-2" id="Category" type="search" placeholder="Category" aria-label="Search">
        <input class="form-control mr-sm-2" id="Location" type="search" placeholder="Location" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>