<div class="container-fluid" id="">
    <div class="container" id="">
            Post Stuff
    </div>
        
    <div class="container" id="">
        Borrow Stuff
    </div>
</div>

<h2>Posted</h2>

<ul>
  {{#each items}}
      {{> itemCard}}
  {{/each}}
</ul>

<h2>Borrowed</h2>

<ul>
  {{#each items}}
      {{> itemCard}}
  {{/each}}
</ul>

