 <div class="item-form">
    <h2>Post an item</h2>

    <form class="new-item-form">
      <div class="form-group">
        <input type="text" id="ite" name="name" placeholder="Item name">
      </div>

      <button type="submit">Add</button>
    </form>
  </div>