

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin: 0em 0em 1em;
    line-height: 1.4285em;
}


.ui.inverted.segment, .ui.primary.inverted.segment {
    color: rgba(255, 255, 255, 0.9);
}


.ui.inverted.segment {
    /* background: url("../images/background_tools.jpeg"); */
    background-color: #ff8e00;
    opacity: 1;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.header {
    border: none;
    margin: calc(2rem - 0.14285714em ) 0em 1rem;
    padding: 0em 0em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
}

/**************** 
pusher styling 
****************/

#pusher {
    background: #ececec47;
}

#pusherSearch {
    background: #fffffff0;
}

/*****************
Masthead block 
*****************/

#masthead {
    /* background: url("../images/background_index.png"); */
    background: #FF8e00; 
    height: 30rem;
}

#masthead-postItem {

}


.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-size: 10em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.masthead.segment {
    min-height: 630px;
    padding: 0em 0em;
}

.ui.inverted.button {
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0)inset !important;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0) inset !important;
    background: transparent none;
    color: white;
    text-shadow: none !important;
}

.ui.segment {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 0em 0em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

.ui.stacked.segment {
    padding-bottom: 1.4em;
    padding: 10px;
}

/*****************
search box styling 
*****************/
#mastheadSearch{
    height: 2.6em;
    margin-bottom: 5em;
    /* background: url("../images/background_tools2.jpg");  */
    background: #FF8e00;
}

#searchContainer {
    margin-top: 10px;
}

#topSegment-Search {
    margin-top: 5em;
}

#searchRow {
    padding-top: 15 px;
    padding-bottom: 0px;
    font-size: 16px;
}

#searchRow.sticky {
    padding-top: 15 px;
    padding-bottom: 0px;
    font-size: 16px;
}


#searchButtonContainer {
    font-size: 15px;
}

.ui.search {
    font-size: 16px;
}

.ui.icon.input>input {
    padding-right: 3.67142857em!important;
}

#NavSearch {
        padding: 0px;
        margin-bottom: 2rem;
}

#searchBox {
    margin-right: 18rem;
}


/* ****************
.ui customizations 
*****************/

.ui.large.menu {
    font-size: 1.1142857rem;
}


.ui.menu .item > i.icon {
    opacity: 0.9;
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}

.ui.menu:not(.vertical) .item > .button {
    position: relative;
    top: 0em;
    margin: -0.5em 0em;
    padding-bottom: 0.78571429em;
    padding-top: 0.78571429em;
    font-size: 1em;
}

.ui.primary.button {
    background-color: #ff8e00;
    color: #FFFFFF;
    text-shadow: none;
    background-image: none;
}

.ui.secondary.inverted.pointing.menu {
    border-width: 0px;
    border-color: rgba(34, 36, 38, 0.15);
}

.ui.secondary.pointing.menu {
    margin-left: 0em;
    margin-right: 0em;
    border-bottom: 2px solid rgba(34, 36, 38, 0.15);
}

.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #FFFFFF;
    color: #ffffff;
}

.ui.segment, .ui.segments .segment {
    font-size: 1.4rem;
    text-align: center;
}




.ui.vertical.stripe h3 {
    font-size: 30px;
    margin-top: 1em;
}

.ui.vertical.stripe h4 {
    font-size: 18px;
}


.ui.vertical.stripe p {
    font-size: 18px;
}

.ui.header:first-child {
    margin-top: -0.14285714em;
}


.ui[class*="middle aligned"].grid > .column:not(.row), .ui[class*="middle aligned"].grid > .row > .column, .ui.grid > [class*="middle aligned"].row > .column, .ui.grid > [class*="middle aligned"].column:not(.row), .ui.grid > .row > [class*="middle aligned"].column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: middle;
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

/*****************
Nav
*****************/
#Nav {
    padding: 0px;
    margin-bottom: 4rem;
}


/*****************
grid css 
*****************/
.ui.grid > .row > [class*="six wide"].column, .ui.grid > .column.row > [class*="six wide"].column, .ui.grid > [class*="six wide"].column, .ui.column.grid > [class*="six wide"].column {
    width: 37.5% !important;
}

.ui.grid>.row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%!important;
    padding: 0;
    padding-top: 0rem;
    padding-bottom: 5rem;
}

.ui.grid>.column:not(.row) {
    padding-top: 0rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0rem;
}

.ui.centered.grid>.column:not(.aligned):not(.justified):not(.row), .ui.centered.grid>.row>.column:not(.aligned):not(.justified), .ui.grid .centered.row>.column:not(.aligned):not(.justified) {
    text-align: center;
}

.ui.one.column.centered.grid {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.column.characters {
    transition: all .25s ease-in-out;
}

.column.characters:hover {
    transform: scale(1.1);
}


/***************** 
button styling
*****************/

#borrowButton:hover {
    background: #FF8e00;
}

#button-post {
    margin-right: 5%;
}

#button-borrow {
    margin-left: 5%;
}

/* #editButton:hover {
    background: green;
} */

/* #deleteButton:hover {
    background: red;
}  */

/* ****************
Sign up and Login forms 
*****************/

.ui.form {
    position: relative;
    max-width: 450px;
    margin-left: 33.3%;
}

.ui.message {
    font-size: 1em;
    max-width: 450px;
    margin-left: 33.3%;
}

#loginBackground {
    background: url('../images/background_tools3.jpg');
    height: 70rem;
}

#loginForm {
    margin-top: 10rem;
}

#signupLogo {
    margin-bottom: 10px;
}


/* ****************
card styling 
*****************/

#cardcontainer {
    margin-left: 10%;
    margin-right: 10%;
}

.ui.card>.content, .ui.cards>.card>.content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    /* border-top: 1px solid rgba(34,36,38,.1); */
    background: 0 0;
    margin: 0;
    padding: 1em 1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    color: #505050;
    border-radius: 0;
}

/* border-radius: .28571429rem; */

.ui.card, .ui.cards>.card {
    max-width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 290px;
    min-height: 0;
    background: #fff;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0), 0 0 0 0px rgba(255, 255, 255, 0);
    box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0), 0 0 0 0px rgba(255, 255, 255, 0);
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    z-index: '';
}

/*****************
post box 
*****************/

#post {
    margin-top: 30px;
}

#addItem {
    width: 450px;
    background: white;
    padding: 20px;
}

#item-name {
    margin-bottom: 20px;
}

#postButton {
    margin-top: 20px;
}

/* terrible background work around */

#postBody {
    background: #ececec47;
    background: url('../images/background_tools.jpeg')
}



/*****************
edit item 
*****************/

#edit {
    margin-top: 30px;
}

#editItem {
    width: 450px;
    background: white;
    padding: 20px;
}

#item-name {
    margin-bottom: 20px;
}

#editButton {
    margin-top: 20px;
}


/***************** 
index page specific styling 
*****************/

#howitworks {
    margin-bottom: 50px;
}