<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Stuffer</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../public/assets/js/Stuffer.js"></script>
</head>

<body>
<!-- navbar setup -->
<!-- navbar testing. Example 1 -->

<!-- navbar testing. Example 2 -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <img src="../public/assets/images/Stuffer_Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                </li>
            </ul>
        </div>
        <!-- <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Placeholder if we want it</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div> -->
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item active">
                        <a class="nav-link" href="#">Sign Up</a>
                </li>
            </ul>
        </div>
</nav>

    
</body>
</html>